# Application
NODE_ENV=development
PORT=3000

# Admin info
ADMIN_PASSWORD= # Add this first
# ADMIN_EMAIL=admin@local.host
# ADMIN_NAME=just_a_name

# Database
DATABASE_PATH=./data/simple-carrier.db
PUBLICS_PATH="./dist"

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Google OAuth (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# GitHub OAuth (optional)
## Dont forget to add Email addresses permission
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

# GitLab OAuth (optional)
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_CALLBACK_URL=http://localhost:3000/api/auth/gitlab/callback
GITLAB_URL=https://gitlab.com

# Apple OAuth (optional)
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_CALLBACK_URL=http://localhost:3000/api/auth/apple/callback
